# Proceso ETL de los datos

# Extract

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Defino función para cargar varios CSV como DataFrames
def load_csv_to_dataframe(file_list):
    dataframes = {}
    for file in file_list:
        df_name = os.path.splitext(os.path.basename(file))[0]  # Nombre sin extensión
        dataframes[df_name] = pd.read_csv(file)
    return dataframes

#Defino funcion para inspeccionar dataframe
def inspect_dataframe(df):
    print("Primeras 5 filas del DataFrame:")
    print(df.head())
    print("\nInformación del DataFrame:")
    print(df.info())
    print("\nEstadísticas descriptivas del DataFrame:")
    print(df.describe())
    print("\nValores nulos en cada columna:")
    print(df.isnull().sum())
    print("\nNombres de las columnas:")
    print(df.columns.tolist())
    print("\nNúmero de filas duplicadas:")
    print(df.duplicated().sum())
    print("\nNúmero de valores únicos en cada columna:")
    print(df.nunique())

#Función para transformar datos
def transform_dataframe(df):
    # Rellenar valores nulos de columnas numéricas con la mediana de la columna
    num_cols = df.select_dtypes(include=[np.number]).columns
    for col in num_cols:
        median_value = df[col].median()
        df[col].fillna(median_value, inplace=True)
    # Rellenar valores nulos de columnas categóricas con la moda de la columna
    cat_cols = df.select_dtypes(include=['object']).columns
    for col in cat_cols:
        mode_value = df[col].mode()[0]
        df[col].fillna(mode_value, inplace=True)
    return df

In [3]:
#Cargar los archivos CSV en dataframe
# Ruta de la carpeta con los CSVs
rutas_archivos = r'C:\Users\bradon\Documents\GitHub\Consumo-de-gas-Argentina\data\raw'

# Crear lista con rutas completas a los archivos CSV
file_list = [os.path.join(rutas_archivos, file) for file in os.listdir(rutas_archivos) if file.endswith('.csv')]

# Cargar todos los CSV en un diccionario de DataFrames
dataframes = load_csv_to_dataframe(file_list)

dataframes.keys()

dict_keys(['bsas_temperatura', 'catamarca_temperatura', 'chaco_temperatura', 'chubut_temperatura', 'cordoba_temperatura', 'corrientes_temperatura', 'entre_rios_temperatura', 'exportaciones-actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual', 'formosa_temperatura', 'jujuy_temperatura', 'la_pampa_temperatura', 'la_rioja_temperatura', 'mendoza_temperatura', 'misiones_temperatura', 'neuquen_temperatura', 'r_negro_temperatura', 'salta_temperatura', 'sanjuan_temperatura', 'sanluis_temperatura', 'santafe_temperatura', 'santiago_del_estero_temperatura', 'sta_cruz_temperatura', 'tucuman_temperatura', 't_d_fuego_temperatura'])

In [4]:
for name, df in dataframes.items():
    print(f"\nInspeccionando DataFrame: {name}")
    inspect_dataframe(df)
    print('-'*50)

Inspeccionando DataFrame: bsas_temperatura
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  \
0  2019-01-01 00:00:00  26.3  22.7  31.2   NaN   NaN   NaN  12.5   NaN
1  2019-01-02 00:00:00  27.4  23.1  32.7   2.0   NaN   NaN  11.2   NaN
2  2019-01-03 00:00:00  22.1  17.0  32.1   8.9   NaN   NaN  13.4   NaN
3  2019-01-04 00:00:00  22.8  16.5  28.9   NaN   NaN   NaN  10.1   NaN
4  2019-01-05 00:00:00  25.4  20.9  29.7   NaN   NaN   NaN  12.8   NaN

     pres  tsun
0  1009.3   NaN
1  1005.4   NaN
2  1011.9   NaN
3  1013.9   NaN
4  1012.1   NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1826 non-null   float64
 2   tmin    1826 non-null   float64
 3   tmax    1826 non-null   float64
 4   prcp    679 non-null    float64
 5   snow    37 non-null     float64
 6   wdir    0 non-null      float64
 7   wspd    1826 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1826 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

Estadísticas descriptivas del DataFrame:
              tavg         tmin         tmax        prcp       snow  wdir  \
count  1826.000000  1826.000000  1826.000000  679.000000  37.000000   0.0
mean     18.682859    14.217360    24.423056    3.310898   2.162162   NaN
std       5.724198     5.728654     6.194042    9.053427   1.740267   NaN
min       5.900000     0.600000     9.200000    0.000000   1.000000   NaN
25%      14.200000     9.900000    19.600000    0.000000   1.000000   NaN
50%      18.800000    14.200000    24.500000    0.000000   1.000000   NaN
75%      23.200000    18.775000    29.300000    0.800000   2.000000   NaN
max      33.500000    29.800000    41.500000   70.100000   7.000000   NaN

              wspd  wpgt         pres  tsun
count  1826.000000   0.0  1826.000000   0.0
mean      8.813363   NaN  1015.864513   NaN
std       3.336877   NaN     5.973932   NaN
min       1.100000   NaN   997.400000   NaN
25%       6.400000   NaN  1011.400000   NaN
50%       8.400000   NaN  1015.600000   NaN
75%      10.800000   NaN  1019.800000   NaN
max      25.000000   NaN  1034.600000   NaN

Valores nulos en cada columna:
date       0
tavg       0
tmin       0
tmax       0
prcp    1147
snow    1789
wdir    1826
wspd       0
wpgt    1826
pres       0
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

Número de filas duplicadas:
0

Número de valores únicos en cada columna:
date    1826
tavg     248
tmin     252
tmax     274
prcp     100
snow       7
wdir       0
wspd     172
wpgt       0
pres     290
tsun       0
dtype: int64
--------------------------------------------------

Inspeccionando DataFrame: catamarca_temperatura
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00  30.6  23.6   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00  31.7  26.8  36.3   NaN   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00  24.9  22.8  30.2   4.8   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1413 non-null   float64
 2   tmin    1413 non-null   float64
 3   tmax    482 non-null    float64
 4   prcp    488 non-null    float64
 5   snow    0 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    0 non-null      float64
 8   wpgt    0 non-null      float64
 9   pres    0 non-null      float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

Estadísticas descriptivas del DataFrame:
              tavg         tmin        tmax        prcp  snow  wdir  wspd  \
count  1413.000000  1413.000000  482.000000  488.000000   0.0   0.0   0.0
mean     22.785138    16.615782   30.751452    8.456762   NaN   NaN   NaN
std       5.623079     5.780594    6.392235   23.131423   NaN   NaN   NaN
min       6.900000    -2.500000   12.700000    0.000000   NaN   NaN   NaN
25%      19.000000    12.900000   26.400000    0.000000   NaN   NaN   NaN
50%      23.400000    17.300000   31.400000    0.000000   NaN   NaN   NaN
75%      26.800000    20.900000   35.600000    7.900000   NaN   NaN   NaN
max      37.100000    31.700000   43.000000  362.500000   NaN   NaN   NaN

       wpgt  pres  tsun
count   0.0   0.0   0.0
mean    NaN   NaN   NaN
std     NaN   NaN   NaN
min     NaN   NaN   NaN
25%     NaN   NaN   NaN
50%     NaN   NaN   NaN
75%     NaN   NaN   NaN
max     NaN   NaN   NaN

Valores nulos en cada columna:
date       0
tavg     413
tmin     413
tmax    1344
prcp    1338
snow    1826
wdir    1826
wspd    1826
wpgt    1826
pres    1826
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

Número de filas duplicadas:
0

Número de valores únicos en cada columna:
date    1826
tavg     257
tmin     259
tmax     208
prcp      61
snow       0
wdir       0
wspd       0
wpgt       0
pres       0
tsun       0
dtype: int64
--------------------------------------------------

Inspeccionando DataFrame: chaco_temperatura
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00  27.6   NaN  36.4   0.0   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00  23.8   NaN  28.7   2.0   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    767 non-null    float64
 2   tmin    444 non-null    float64
 3   tmax    767 non-null    float64
 4   prcp    307 non-null    float64
 5   snow    0 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    0 non-null      float64
 8   wpgt    0 non-null      float64
 9   pres    0 non-null      float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

Estadísticas descriptivas del DataFrame:
             tavg        tmin        tmax        prcp  snow  wdir  wspd  wpgt  \
count  767.000000  444.000000  767.000000  307.000000   0.0   0.0   0.0   0.0
mean    21.635202   15.471171   30.200522   12.228664   NaN   NaN   NaN   NaN
std      5.685301    6.400069    6.481597   25.169795   NaN   NaN   NaN   NaN
min      5.700000   -2.400000   11.500000    0.000000   NaN   NaN   NaN   NaN
25%     17.800000   10.900000   25.500000    0.000000   NaN   NaN   NaN   NaN
50%     22.400000   16.800000   31.000000    3.000000   NaN   NaN   NaN   NaN
75%     25.700000   20.000000   35.100000   13.000000   NaN   NaN   NaN   NaN
max     35.900000   30.700000   43.700000  300.000000   NaN   NaN   NaN   NaN

       pres  tsun
count   0.0   0.0
mean    NaN   NaN
std     NaN   NaN
min     NaN   NaN
25%     NaN   NaN
50%     NaN   NaN
75%     NaN   NaN
max     NaN   NaN

Valores nulos en cada columna:
date       0
tavg    1059
tmin    1382
tmax    1059
prcp    1519
snow    1826
wdir    1826
wspd    1826
wpgt    1826
pres    1826
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

Número de filas duplicadas:
0

Número de valores únicos en cada columna:
date    1826
tavg     226
tmin     185
tmax     230
prcp      60
snow       0
wdir       0
wspd       0
wpgt       0
pres       0
tsun       0
dtype: int64
--------------------------------------------------

Inspeccionando DataFrame: chubut_temperatura
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00  20.2  13.8  29.2   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00  15.1  11.2  24.4   1.0   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00  21.1   NaN  30.2   NaN   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1799 non-null   float64
 2   tmin    1722 non-null   float64
 3   tmax    1728 non-null   float64
 4   prcp    1203 non-null   float64
 5   snow    3 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    1764 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1763 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

Estadísticas descriptivas del DataFrame:
              tavg         tmin         tmax         prcp       snow  wdir  \
count  1799.000000  1722.000000  1728.000000  1203.000000   3.000000   0.0
mean     14.191495     7.379384    22.621586     0.945553  28.666667   NaN
std       6.387997     6.031722     7.507111     7.846800  41.932485   NaN
min      -3.000000   -10.100000     5.500000     0.000000   2.000000   NaN
25%       9.200000     2.500000    16.975000     0.000000   4.500000   NaN
50%      14.300000     7.550000    22.600000     0.000000   7.000000   NaN
75%      19.100000    11.900000    28.600000     0.000000  42.000000   NaN
max      29.800000    24.400000    41.000000   252.000000  77.000000   NaN

              wspd  wpgt         pres  tsun
count  1764.000000   0.0  1763.000000   0.0
mean     17.303345   NaN  1012.993590   NaN
std       6.268392   NaN     7.498337   NaN
min       4.500000   NaN   987.700000   NaN
25%      12.700000   NaN  1007.900000   NaN
50%      16.800000   NaN  1012.600000   NaN
75%      21.100000   NaN  1017.900000   NaN
max      42.800000   NaN  1037.400000   NaN

Valores nulos en cada columna:
date       0
tavg      27
tmin     104
tmax      98
prcp     623
snow    1823
wdir    1826
wspd      62
wpgt    1826
pres      63
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

Número de filas duplicadas:
0

Número de valores únicos en cada columna:
date    1826
tavg     277
tmin     269
tmax     302
prcp      72
snow       3
wdir       0
wspd     291
wpgt       0
pres     344
tsun       0
dtype: int64
--------------------------------------------------

Inspeccionando DataFrame: cordoba_temperatura
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1285 non-null   float64
 2   tmin    1273 non-null   float64
 3   tmax    1167 non-null   float64
 4   prcp    1140 non-null   float64
 5   snow    1 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    1093 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1093 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

Estadísticas descriptivas del DataFrame:
              tavg         tmin         tmax         prcp  snow  wdir  \
count  1285.000000  1273.000000  1167.000000  1140.000000   1.0   0.0
mean     19.182802    12.552632    26.427335     2.199737  20.0   NaN
std       6.010084     6.171089     6.434735     6.854528   NaN   NaN
min       3.900000    -3.500000     6.000000     0.000000  20.0   NaN
25%      14.600000     7.800000    21.700000     0.000000  20.0   NaN
50%      19.200000    12.900000    26.600000     0.000000  20.0   NaN
75%      23.700000    17.600000    31.150000     0.500000  20.0   NaN
max      34.200000    27.900000    42.500000    85.100000  20.0   NaN

              wspd  wpgt         pres  tsun
count  1093.000000   0.0  1093.000000   0.0
mean     10.160201   NaN  1014.723056   NaN
std       3.376820   NaN     5.863243   NaN
min       3.100000   NaN   998.700000   NaN
25%       7.700000   NaN  1010.600000   NaN
50%       9.600000   NaN  1014.400000   NaN
75%      12.200000   NaN  1018.500000   NaN
max      22.500000   NaN  1033.400000   NaN

Valores nulos en cada columna:
date       0
tavg     541
tmin     553
tmax     659
prcp     686
snow    1825
wdir    1826
wspd     733
wpgt    1826
pres     733
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

Número de filas duplicadas:
0

Número de valores únicos en cada columna:
date    1826
tavg     256
tmin     242
tmax     275
prcp      92
snow       1
wdir       0
wspd     163
wpgt       0
pres     250
tsun       0
dtype: int64
--------------------------------------------------

Inspeccionando DataFrame: corrientes_temperatura
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  \
0  2019-01-01 00:00:00  28.5  24.5  33.0  19.1   NaN   NaN   8.2   NaN
1  2019-01-02 00:00:00  31.1  27.5  35.0  11.9   NaN   NaN  15.4   NaN
2  2019-01-03 00:00:00  26.9  23.0  30.2   NaN   NaN   NaN  18.7   NaN
3  2019-01-04 00:00:00  23.3  21.7  25.0   NaN   NaN   NaN  10.9   NaN
4  2019-01-05 00:00:00  27.3  21.5  32.5  11.9   NaN   NaN   8.0   NaN

     pres  tsun
0  1006.8   NaN
1  1005.7   NaN
2  1007.8   NaN
3  1010.5   NaN
4  1009.0   NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1784 non-null   float64
 2   tmin    1780 non-null   float64
 3   tmax    1661 non-null   float64
 4   prcp    1290 non-null   float64
 5   snow    0 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    1614 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1612 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

Estadísticas descriptivas del DataFrame:
              tavg         tmin         tmax         prcp  snow  wdir  \
count  1784.000000  1780.000000  1661.000000  1290.000000   0.0   0.0
mean     22.057399    16.064719    28.684648     4.572791   NaN   NaN
std       5.672682     5.729409     6.217322    12.457789   NaN   NaN
min       6.700000    -1.700000    10.400000     0.000000   NaN   NaN
25%      18.000000    12.400000    24.200000     0.000000   NaN   NaN
50%      22.600000    16.800000    29.000000     0.000000   NaN   NaN
75%      26.300000    20.400000    33.500000     2.000000   NaN   NaN
max      37.100000    31.000000    42.900000   201.700000   NaN   NaN

              wspd  wpgt         pres  tsun
count  1614.000000   0.0  1612.000000   0.0
mean     12.382218   NaN  1013.087903   NaN
std       4.408594   NaN     5.667079   NaN
min       2.400000   NaN   997.500000   NaN
25%       9.200000   NaN  1009.300000   NaN
50%      11.700000   NaN  1012.500000   NaN
75%      14.900000   NaN  1016.500000   NaN
max      32.000000   NaN  1032.200000   NaN

Valores nulos en cada columna:
date       0
tavg      42
tmin      46
tmax     165
prcp     536
snow    1826
wdir    1826
wspd     212
wpgt    1826
pres     214
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

Número de filas duplicadas:
0

Número de valores únicos en cada columna:
date    1826
tavg     253
tmin     264
tmax     276
prcp     173
snow       0
wdir       0
wspd     218
wpgt       0
pres     278
tsun       0
dtype: int64
--------------------------------------------------

Inspeccionando DataFrame: entre_rios_temperatura
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00  29.0  22.6  33.3   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00  23.2  20.1  35.8  27.9   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1796 non-null   float64
 2   tmin    1642 non-null   float64
 3   tmax    1671 non-null   float64
 4   prcp    1205 non-null   float64
 5   snow    1 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    1763 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1762 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

Estadísticas descriptivas del DataFrame:
              tavg         tmin         tmax         prcp  snow  wdir  \
count  1796.000000  1642.000000  1671.000000  1205.000000   1.0   0.0
mean     18.847606    13.266322    25.798145     3.156017  99.0   NaN
std       5.814609     5.692710     6.349235     9.365768   NaN   NaN
min       4.600000    -1.400000    10.200000     0.000000  99.0   NaN
25%      14.300000     9.000000    21.000000     0.000000  99.0   NaN
50%      19.200000    13.600000    26.100000     0.000000  99.0   NaN
75%      23.200000    17.700000    30.600000     0.800000  99.0   NaN
max      34.200000    27.500000    42.000000   113.000000  99.0   NaN

              wspd  wpgt         pres  tsun
count  1763.000000   0.0  1762.000000   0.0
mean     12.508905   NaN  1015.106640   NaN
std       5.597980   NaN     5.929909   NaN
min       1.700000   NaN   998.600000   NaN
25%       8.400000   NaN  1010.800000   NaN
50%      11.700000   NaN  1014.700000   NaN
75%      15.650000   NaN  1018.800000   NaN
max      38.600000   NaN  1035.200000   NaN

Valores nulos en cada columna:
date       0
tavg      30
tmin     184
tmax     155
prcp     621
snow    1825
wdir    1826
wspd      63
wpgt    1826
pres      64
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

Número de filas duplicadas:
0


## Transform

In [9]:
#Se quitarán las columnas que no serán utilizadas tanto en el análisis exploratorio como en el modelado.
columnas_a_eliminar = {'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun', 'metrogas', 'gas_natural_fenosa', 'distrib_gas_del_centro_ecogas', 'distrib_gas_cuyana_ecogas', 'litoral_gas', 'gasnea', 'redengas', 'gasnor', 'camuzzi_gas_pampeana', 'camuzzi_gas_del_sur'}

#Aplico bucle para eliminar las columnas no deseadas en cada DataFrame
for name, df in dataframes.items():
    columnas_presentes = set(df.columns)
    columnas_a_quitar = columnas_a_eliminar.intersection(columnas_presentes)
    dataframes[name] = df.drop(columns=columnas_a_quitar)
    print(f"\nColumnas eliminadas en DataFrame {name}: {columnas_a_quitar}")
    print(f"Columnas restantes en DataFrame {name}: {dataframes[name].columns.tolist()}")

Columnas eliminadas en DataFrame bsas_temperatura: set()
Columnas restantes en DataFrame bsas_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame catamarca_temperatura: set()
Columnas restantes en DataFrame catamarca_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame chaco_temperatura: set()
Columnas restantes en DataFrame chaco_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame chubut_temperatura: set()
Columnas restantes en DataFrame chubut_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame cordoba_temperatura: set()
Columnas restantes en DataFrame cordoba_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame corrientes_temperatura: set()
Columnas restantes en DataFrame corrientes_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame entre_rios_temperatura: set()
Columnas restantes en DataFrame entre_rios_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame exportaciones-actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual: {'distrib_gas_cuyana_ecogas', 'litoral_gas', 'distrib_gas_del_centro_ecogas', 'gas_natural_fenosa', 'camuzzi_gas_del_sur', 'gasnor', 'gasnea', 'camuzzi_gas_pampeana', 'metrogas', 'redengas'}
Columnas restantes en DataFrame exportaciones-actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual: ['indice_tiempo', 'produccion_gas_natural', 'total', 'residencial', 'comercial', 'entes_oficiales', 'industria', 'centrales_electricas', 'sdb', 'gnc']

Columnas eliminadas en DataFrame formosa_temperatura: set()
Columnas restantes en DataFrame formosa_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame jujuy_temperatura: set()
Columnas restantes en DataFrame jujuy_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame la_pampa_temperatura: set()
Columnas restantes en DataFrame la_pampa_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame la_rioja_temperatura: set()
Columnas restantes en DataFrame la_rioja_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame mendoza_temperatura: set()
Columnas restantes en DataFrame mendoza_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame misiones_temperatura: set()
Columnas restantes en DataFrame misiones_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame neuquen_temperatura: set()
Columnas restantes en DataFrame neuquen_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame r_negro_temperatura: set()
Columnas restantes en DataFrame r_negro_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame salta_temperatura: set()
Columnas restantes en DataFrame salta_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame sanjuan_temperatura: set()
Columnas restantes en DataFrame sanjuan_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame sanluis_temperatura: set()
Columnas restantes en DataFrame sanluis_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame santafe_temperatura: set()
Columnas restantes en DataFrame santafe_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame santiago_del_estero_temperatura: set()
Columnas restantes en DataFrame santiago_del_estero_temperatura: ['year', 'month', 'temp', 'temp_source', 'tmin_source', 'tmax_source', 'txmn', 'txmn_source', 'txmx', 'txmx_source', 'prcp_source', 'pres_source', 'tsun_source']

Columnas eliminadas en DataFrame sta_cruz_temperatura: set()
Columnas restantes en DataFrame sta_cruz_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame tucuman_temperatura: set()
Columnas restantes en DataFrame tucuman_temperatura: ['date', 'tavg']

Columnas eliminadas en DataFrame t_d_fuego_temperatura: set()
Columnas restantes en DataFrame t_d_fuego_temperatura: ['date', 'tavg']