<a href="https://colab.research.google.com/github/ArMi1407/Consumo-de-gas-Argentina/blob/main/ETL_proceso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. ExtracciÃ³n de datos
Los 24 Csv's originales se encuentran en el repositorio.
En esta notebook se realizÃ³ el tratamiento correspondiente para dejar los datos listos para ser utilizados.

In [1]:
#Importar librerÃ­as que serÃ¡n utilizadas
import pandas as pd
import numpy as np
import os
import unicodedata
from google.colab import files
import io

In [2]:
"""Defino funciÃ³n para subir varios archivos CSV y convertirlos automÃ¡ticamente en DataFrames, generando un diccionario donde
las claves son los nombres de archivo y los valores son los DataFrames."""
def upload_and_load_csvs():
    uploaded = files.upload()  # Puedo subir uno o varios CSV
    dataframes = {}

    for filename, content in uploaded.items():
        df_name = os.path.splitext(filename)[0]
        df = pd.read_csv(io.BytesIO(content))
        dataframes[df_name] = df
        print(f"âœ… {df_name} cargado correctamente. Filas: {len(df)}")

    return dataframes

#Defino funciÃ³n para inspeccionar todos los DataFrames del diccionario generado
def inspect_all_dataframes(dataframe):
        print("="*80)
        print(f"ðŸ“Š INSPECCIÃ“N DEL DATAFRAME: {name.upper()}")
        print("="*80)
        print("Primeras 5 filas del DataFrame:")
        print(df.head())
        print("\nInformaciÃ³n del DataFrame:")
        print(df.info())
        print("\nEstadÃ­sticas descriptivas del DataFrame:")
        print(df.describe())
        print("\nValores nulos en cada columna:")
        print(df.isnull().sum())
        print("\nNombres de las columnas:")
        print(df.columns.tolist())
        print("\nNÃºmero de filas duplicadas:")
        print(df.duplicated().sum())
        print("\nNÃºmero de valores Ãºnicos en cada columna:")
        print(df.nunique())
        print("\n\n")

In [3]:
#Aplicar la funciÃ³n de carga y conversiÃ³n de csvs
uploaded_dataframes = upload_and_load_csvs()

Saving actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual.csv to actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual.csv
Saving bsas_temperatura.csv to bsas_temperatura.csv
Saving catamarca_temperatura.csv to catamarca_temperatura.csv
Saving chaco_temperatura.csv to chaco_temperatura.csv
Saving chubut_temperatura.csv to chubut_temperatura.csv
Saving cordoba_temperatura.csv to cordoba_temperatura.csv
Saving corrientes_temperatura.csv to corrientes_temperatura.csv
Saving entre_rios_temperatura.csv to entre_rios_temperatura.csv
Saving formosa_temperatura.csv to formosa_temperatura.csv
Saving jujuy_temperatura.csv to jujuy_temperatura.csv
Saving la_pampa_temperatura.csv to la_pampa_temperatura.csv
Saving la_rioja_temperatura.csv to la_rioja_temperatura.csv
Saving mendoza_temperatura.csv to mendoza_temperatura.csv
Saving misiones_temperatura.csv to misiones_temperatura.csv
Saving neuquen_temperatura.csv to neuquen_temperatura.csv
Saving r_negro_temperatura.csv to r_negro_temperatura.csv
Saving salta_temperatura.csv to salta_temperatura.csv
Saving sanjuan_temperatura.csv to sanjuan_temperatura.csv
Saving sanluis_temperatura.csv to sanluis_temperatura.csv
Saving santafe_temperatura.csv to santafe_temperatura.csv
Saving sta_cruz_temperatura.csv to sta_cruz_temperatura.csv
Saving stgo_del_estero_temperatura.csv to stgo_del_estero_temperatura.csv
Saving t_d_fuego_temperatura.csv to t_d_fuego_temperatura.csv
Saving tucuman_temperatura.csv to tucuman_temperatura.csv
âœ… actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual cargado correctamente. Filas: 355
âœ… bsas_temperatura cargado correctamente. Filas: 1826
âœ… catamarca_temperatura cargado correctamente. Filas: 1826
âœ… chaco_temperatura cargado correctamente. Filas: 1826
âœ… chubut_temperatura cargado correctamente. Filas: 1826
âœ… cordoba_temperatura cargado correctamente. Filas: 1826
âœ… corrientes_temperatura cargado correctamente. Filas: 1826
âœ… entre_rios_temperatura cargado correctamente. Filas: 1826
âœ… formosa_temperatura cargado correctamente. Filas: 1826
âœ… jujuy_temperatura cargado correctamente. Filas: 1826
âœ… la_pampa_temperatura cargado correctamente. Filas: 1826
âœ… la_rioja_temperatura cargado correctamente. Filas: 1826
âœ… mendoza_temperatura cargado correctamente. Filas: 1826
âœ… misiones_temperatura cargado correctamente. Filas: 1826
âœ… neuquen_temperatura cargado correctamente. Filas: 1826
âœ… r_negro_temperatura cargado correctamente. Filas: 1826
âœ… salta_temperatura cargado correctamente. Filas: 1826
âœ… sanjuan_temperatura cargado correctamente. Filas: 1826
âœ… sanluis_temperatura cargado correctamente. Filas: 1826
âœ… santafe_temperatura cargado correctamente. Filas: 1826
âœ… sta_cruz_temperatura cargado correctamente. Filas: 1826
âœ… stgo_del_estero_temperatura cargado correctamente. Filas: 60
âœ… t_d_fuego_temperatura cargado correctamente. Filas: 1826
âœ… tucuman_temperatura cargado correctamente. Filas: 1826

### InspecciÃ³n de los datos

In [4]:
#Con un bucle for y la funciÃ³n definida se inspecciona cada dataframe
for name, df in uploaded_dataframes.items():
    inspect_all_dataframes(df)

================================================================================
ðŸ“Š INSPECCIÃ“N DEL DATAFRAME: ACTIVIDAD-SALDOCOMERCIAL-RANGOS-EXPORTACION-EMPRESA-EXPORTADORA-MENSUAL
================================================================================
Primeras 5 filas del DataFrame:
  indice_tiempo  produccion_gas_natural     total  residencial  comercial  \
0    1996-01-01                 2504.98  1913.116      211.996     42.534
1    1996-02-01                 2325.37  1731.663      216.713     43.851
2    1996-03-01                 2735.07  2018.787      225.193     56.130
3    1996-04-01                 2584.15  1935.116      351.159     73.160
4    1996-05-01                 3006.48  2304.546      572.829     75.569

   entes_oficiales  industria  centrales_electricas     sdb     gnc  metrogas  \
0            8.783    605.413               803.185  12.203  85.856   496.604
1            9.499    626.625               656.703  14.482  75.903   398.279
2           16.476    669.272               832.398  15.871  80.857   503.750
3           17.779    658.115               612.963  18.109  88.107   458.635
4           23.653    645.976               748.281  22.857  91.773   562.713

   gas_natural_fenosa  distrib_gas_del_centro_ecogas  \
0             150.440                         90.166
1             168.594                         84.350
2             177.370                         92.186
3             200.311                         98.590
4             259.457                        112.201

   distrib_gas_cuyana_ecogas  litoral_gas  gasnea  redengas   gasnor  \
0                     99.731      180.638     0.0     1.343  135.642
1                     95.175      168.693     0.0     1.439  137.112
2                    111.341      184.743     0.0     1.587  140.103
3                     93.188      192.930     0.0     1.591  125.108
4                    115.219      237.872     0.0     2.073  141.535

   camuzzi_gas_pampeana  camuzzi_gas_del_sur
0               413.012              345.540
1               350.583              327.438
2               424.864              382.843
3               350.836              413.927
4               438.767              434.709

InformaciÃ³n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   indice_tiempo                  355 non-null    object
 1   produccion_gas_natural         355 non-null    float64
 2   total                          355 non-null    float64
 3   residencial                    355 non-null    float64
 4   comercial                      355 non-null    float64
 5   entes_oficiales                355 non-null    float64
 6   industria                      355 non-null    float64
 7   centrales_electricas           355 non-null    float64
 8   sdb                            355 non-null    float64
 9   gnc                            355 non-null    float64
 10  metrogas                       355 non-null    float64
 11  gas_natural_fenosa             355 non-null    float64
 12  distrib_gas_del_centro_ecogas  355 non-null    float64
 13  distrib_gas_cuyana_ecogas      355 non-null    float64
 14  litoral_gas                    355 non-null    float64
 15  gasnea                         355 non-null    float64
 16  redengas                       355 non-null    float64
 17  gasnor                         355 non-null    float64
 18  camuzzi_gas_pampeana           355 non-null    float64
 19  camuzzi_gas_del_sur            355 non-null    float64
dtypes: float64(19), object(1)
memory usage: 55.6+ KB
None

EstadÃ­sticas descriptivas del DataFrame:
       produccion_gas_natural        total  residencial   comercial  \
count              355.000000   355.000000   355.000000  355.000000
mean              3843.070672  3262.006763   714.396839   99.375555
std                471.957139   602.870863   465.976883   37.980461
min               2325.370000  1731.663000   190.299000   40.469000
25%               3548.143016  2973.767500   312.908000   68.343000
50%               3845.351160  3315.912000   545.619000   88.316000
75%               4159.358259  3581.236500  1022.329000  127.600000
max               5297.801606  4737.218000  1893.755000  197.866000

       entes_oficiales    industria  centrales_electricas         sdb  \
count       355.000000   355.000000            355.000000  355.000000
mean         32.967000   854.738065           1046.989907   58.519208
std          20.202692   120.344734            311.865917   36.328664
min           8.783000   551.237000            410.014000   11.019000
25%          15.423500   754.222500            787.379000   31.820000
50%          26.669000   878.045000           1016.415000   50.493000
75%          46.930000   942.753000           1292.481000   78.145000
max          81.270000  1138.659000           1810.354000  151.764000

              gnc    metrogas  gas_natural_fenosa  \
count  355.000000  355.000000          355.000000
mean   197.404530  628.974789          339.625541
std     48.323196  110.962287           93.804440
min     75.903000  249.033000          150.440000
25%    164.524500  575.229500          272.234000
50%    209.480000  641.755000          333.116000
75%    233.995500  711.237500          407.234500
max    279.855000  842.384000          564.443000

       distrib_gas_del_centro_ecogas  distrib_gas_cuyana_ecogas  litoral_gas  \
count                     355.000000                 355.000000    355.00000
mean                      186.386130                 186.976437    371.94333
std                        49.398569                  46.704791    110.88322
min                        77.427000                  93.188000    168.69300
25%                       154.143000                 160.600000    275.34600
50%                       181.471000                 180.483000    347.30900
75%                       215.282500                 210.363500    457.92350
max                       311.872000                 314.670000    672.18300

           gasnea    redengas      gasnor  camuzzi_gas_pampeana  \
count  355.000000  355.000000  355.000000            355.000000
mean    16.759054    5.806592  288.823724            579.948611
std     10.442683    2.780877   62.518401            119.019689
min      0.000000    1.343000  125.108000            326.075000
25%      9.890500    3.845000  244.800500            492.867000
50%     17.180000    5.015000  289.550000            585.996000
75%     22.938500    7.332000  332.630500            663.151000
max     45.547000   14.386000  452.453000            913.649000

       camuzzi_gas_del_sur
count           355.000000
mean            520.688566
std             165.671006
min             205.078000
25%             405.694500
50%             496.076000
75%             606.943500
max            1033.842000

Valores nulos en cada columna:
indice_tiempo                    0
produccion_gas_natural           0
total                            0
residencial                      0
comercial                        0
entes_oficiales                  0
industria                        0
centrales_electricas             0
sdb                              0
gnc                              0
metrogas                         0
gas_natural_fenosa               0
distrib_gas_del_centro_ecogas    0
distrib_gas_cuyana_ecogas        0
litoral_gas                      0
gasnea                           0
redengas                         0
gasnor                           0
camuzzi_gas_pampeana             0
camuzzi_gas_del_sur              0
dtype: int64

Nombres de las columnas:
['indice_tiempo', 'produccion_gas_natural', 'total', 'residencial', 'comercial', 'entes_oficiales', 'industria', 'centrales_electricas', 'sdb', 'gnc', 'metrogas', 'gas_natural_fenosa', 'distrib_gas_del_centro_ecogas', 'distrib_gas_cuyana_ecogas', 'litoral_gas', 'gasnea', 'redengas', 'gasnor', 'camuzzi_gas_pampeana', 'camuzzi_gas_del_sur']

NÃºmero de filas duplicadas:
0

NÃºmero de valores Ãºnicos en cada columna:
indice_tiempo                    355
produccion_gas_natural           355
total                            355
residencial                      355
comercial                        354
entes_oficiales                  354
industria                        355
centrales_electricas             355
sdb                              355
gnc                              355
metrogas                         354
gas_natural_fenosa               355
distrib_gas_del_centro_ecogas    355
distrib_gas_cuyana_ecogas        355
litoral_gas                      355
gasnea                           321
redengas                         351
gasnor                           353
camuzzi_gas_pampeana             354
camuzzi_gas_del_sur              355
dtype: int64



================================================================================
ðŸ“Š INSPECCIÃ“N DEL DATAFRAME: BSAS_TEMPERATURA
================================================================================
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  \
0  2019-01-01 00:00:00  26.3  22.7  31.2   NaN   NaN   NaN  12.5   NaN
1  2019-01-02 00:00:00  27.4  23.1  32.7   2.0   NaN   NaN  11.2   NaN
2  2019-01-03 00:00:00  22.1  17.0  32.1   8.9   NaN   NaN  13.4   NaN
3  2019-01-04 00:00:00  22.8  16.5  28.9   NaN   NaN   NaN  10.1   NaN
4  2019-01-05 00:00:00  25.4  20.9  29.7   NaN   NaN   NaN  12.8   NaN

     pres  tsun
0  1009.3   NaN
1  1005.4   NaN
2  1011.9   NaN
3  1013.9   NaN
4  1012.1   NaN

InformaciÃ³n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1826 non-null   float64
 2   tmin    1826 non-null   float64
 3   tmax    1826 non-null   float64
 4   prcp    679 non-null    float64
 5   snow    37 non-null     float64
 6   wdir    0 non-null      float64
 7   wspd    1826 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1826 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

EstadÃ­sticas descriptivas del DataFrame:
              tavg         tmin         tmax        prcp       snow  wdir  \
count  1826.000000  1826.000000  1826.000000  679.000000  37.000000   0.0
mean     18.682859    14.217360    24.423056    3.310898   2.162162   NaN
std       5.724198     5.728654     6.194042    9.053427   1.740267   NaN
min       5.900000     0.600000     9.200000    0.000000   1.000000   NaN
25%      14.200000     9.900000    19.600000    0.000000   1.000000   NaN
50%      18.800000    14.200000    24.500000    0.000000   1.000000   NaN
75%      23.200000    18.775000    29.300000    0.800000   2.000000   NaN
max      33.500000    29.800000    41.500000   70.100000   7.000000   NaN

              wspd  wpgt         pres  tsun
count  1826.000000   0.0  1826.000000   0.0
mean      8.813363   NaN  1015.864513   NaN
std       3.336877   NaN     5.973932   NaN
min       1.100000   NaN   997.400000   NaN
25%       6.400000   NaN  1011.400000   NaN
50%       8.400000   NaN  1015.600000   NaN
75%      10.800000   NaN  1019.800000   NaN
max      25.000000   NaN  1034.600000   NaN

Valores nulos en cada columna:
date       0
tavg       0
tmin       0
tmax       0
prcp    1147
snow    1789
wdir    1826
wspd       0
wpgt    1826
pres       0
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

NÃºmero de filas duplicadas:
0

NÃºmero de valores Ãºnicos en cada columna:
date    1826
tavg     248
tmin     252
tmax     274
prcp     100
snow       7
wdir       0
wspd     172
wpgt       0
pres     290
tsun       0
dtype: int64



================================================================================
ðŸ“Š INSPECCIÃ“N DEL DATAFRAME: CATAMARCA_TEMPERATURA
================================================================================
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00  30.6  23.6   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00  31.7  26.8  36.3   NaN   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00  24.9  22.8  30.2   4.8   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

InformaciÃ³n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1413 non-null   float64
 2   tmin    1413 non-null   float64
 3   tmax    482 non-null    float64
 4   prcp    488 non-null    float64
 5   snow    0 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    0 non-null      float64
 8   wpgt    0 non-null      float64
 9   pres    0 non-null      float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

EstadÃ­sticas descriptivas del DataFrame:
              tavg         tmin        tmax        prcp  snow  wdir  wspd  \
count  1413.000000  1413.000000  482.000000  488.000000   0.0   0.0   0.0
mean     22.785138    16.615782   30.751452    8.456762   NaN   NaN   NaN
std       5.623079     5.780594    6.392235   23.131423   NaN   NaN   NaN
min       6.900000    -2.500000   12.700000    0.000000   NaN   NaN   NaN
25%      19.000000    12.900000   26.400000    0.000000   NaN   NaN   NaN
50%      23.400000    17.300000   31.400000    0.000000   NaN   NaN   NaN
75%      26.800000    20.900000   35.600000    7.900000   NaN   NaN   NaN
max      37.100000    31.700000   43.000000  362.500000   NaN   NaN   NaN

       wpgt  pres  tsun
count   0.0   0.0   0.0
mean    NaN   NaN   NaN
std     NaN   NaN   NaN
min     NaN   NaN   NaN
25%     NaN   NaN   NaN
50%     NaN   NaN   NaN
75%     NaN   NaN   NaN
max     NaN   NaN   NaN

Valores nulos en cada columna:
date       0
tavg     413
tmin     413
tmax    1344
prcp    1338
snow    1826
wdir    1826
wspd    1826
wpgt    1826
pres    1826
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

NÃºmero de filas duplicadas:
0

NÃºmero de valores Ãºnicos en cada columna:
date    1826
tavg     257
tmin     259
tmax     208
prcp      61
snow       0
wdir       0
wspd       0
wpgt       0
pres       0
tsun       0
dtype: int64



================================================================================
ðŸ“Š INSPECCIÃ“N DEL DATAFRAME: CHACO_TEMPERATURA
================================================================================
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00  27.6   NaN  36.4   0.0   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00  23.8   NaN  28.7   2.0   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

InformaciÃ³n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    767 non-null    float64
 2   tmin    444 non-null    float64
 3   tmax    767 non-null    float64
 4   prcp    307 non-null    float64
 5   snow    0 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    0 non-null      float64
 8   wpgt    0 non-null      float64
 9   pres    0 non-null      float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

EstadÃ­sticas descriptivas del DataFrame:
             tavg        tmin        tmax        prcp  snow  wdir  wspd  wpgt  \
count  767.000000  444.000000  767.000000  307.000000   0.0   0.0   0.0   0.0
mean    21.635202   15.471171   30.200522   12.228664   NaN   NaN   NaN   NaN
std      5.685301    6.400069    6.481597   25.169795   NaN   NaN   NaN   NaN
min      5.700000   -2.400000   11.500000    0.000000   NaN   NaN   NaN   NaN
25%     17.800000   10.900000   25.500000    0.000000   NaN   NaN   NaN   NaN
50%     22.400000   16.800000   31.000000    3.000000   NaN   NaN   NaN   NaN
75%     25.700000   20.000000   35.100000   13.000000   NaN   NaN   NaN   NaN
max     35.900000   30.700000   43.700000  300.000000   NaN   NaN   NaN   NaN

       pres  tsun
count   0.0   0.0
mean    NaN   NaN
std     NaN   NaN
min     NaN   NaN
25%     NaN   NaN
50%     NaN   NaN
75%     NaN   NaN
max     NaN   NaN

Valores nulos en cada columna:
date       0
tavg    1059
tmin    1382
tmax    1059
prcp    1519
snow    1826
wdir    1826
wspd    1826
wpgt    1826
pres    1826
tsun    1826
dtype: int64

Nombres de las columnas:
['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

NÃºmero de filas duplicadas:
0

NÃºmero de valores Ãºnicos en cada columna:
date    1826
tavg     226
tmin     185
tmax     230
prcp      60
snow       0
wdir       0
wspd       0
wpgt       0
pres       0
tsun       0
dtype: int64



================================================================================
ðŸ“Š INSPECCIÃ“N DEL DATAFRAME: CHUBUT_TEMPERATURA
================================================================================
Primeras 5 filas del DataFrame:
                  date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  \
0  2019-01-01 00:00:00  20.2  13.8  29.2   NaN   NaN   NaN   NaN   NaN   NaN
1  2019-01-02 00:00:00  15.1  11.2  24.4   1.0   NaN   NaN   NaN   NaN   NaN
2  2019-01-03 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  2019-01-04 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2019-01-05 00:00:00  21.1   NaN  30.2   NaN   NaN   NaN   NaN   NaN   NaN

   tsun
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

InformaciÃ³n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1826 non-null   object
 1   tavg    1799 non-null   float64
 2   tmin    1722 non-null   float64
 3   tmax    1728 non-null   float64
 4   prcp    1203 non-null   float64
 5   snow    3 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    1764 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1763 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 157.1+ KB
None

EstadÃ­sticas descriptivas del DataFrame:
              tavg         tmin         tmax         prcp       snow  wdir  \
count  1799.000000  1722.000000  1728.000000  1203.000000   3.000000   0.0
mean     14.191495     7.379384    22.621586     0.945553  28.666667   NaN
std       6.387997     6.031722     7.507111     7.846800  41.932485   NaN
min      -3.000000   -10.100000     5.500000     0.000000   2.000000   NaN
25%       9.200000     2.500000    16.975000     0.000000   4.500000   NaN
50%      14.300000     7.550000    22.600000     0.000000   7.000000   NaN
75%      19.100000    11.900000    28.600000     0.000000  42.000000   NaN
max      29.800000    24.400000    41.000000   252.000000  77.000000   NaN


#2. TransformaciÃ³n

## CSV temperatura por provincias
Para la temperatura mensual por provincia.
A 23 de los 24 csv que cargados se les realizarÃ¡ la tranformaciÃ³n de los datos de manera que queden listos para el anÃ¡lisis y el modelado.
Las modificaciones serÃ¡n las siguientes:
- Fecha: Los registros diarios serÃ¡n agrupados para generar registros mensuales, ademÃ¡s la columna 'date' serÃ¡ convertida a tipo de dato fecha y renombrada como 'indice_tiempo'.
- Luego de la agrupaciÃ³n mensual se calcularÃ¡ la temperatura promedio para cada mes
- Se eliminarÃ¡n columnas que no serÃ¡n utilizadas
- Se tratarÃ¡n duplicados y nulos

###TransformaciÃ³n para la fecha

In [5]:
#Para el csv stgo_del_estero_temperatura transformo la columna 'date' en formato fecha y renombro columna
if 'stgo_del_estero_temperatura' in uploaded_dataframes:
    df_stgo_del_estero = uploaded_dataframes['stgo_del_estero_temperatura']
    df_stgo_del_estero['date'] = pd.to_datetime(df_stgo_del_estero['date'], errors='coerce', dayfirst=True)
    #Renombrar la columna 'date' como indice_tiempo
    df_stgo_del_estero = df_stgo_del_estero.rename(columns={'date': 'indice_tiempo'})

  #guardo en el diccionario
    uploaded_dataframes['stgo_del_estero_temperatura'] = df_stgo_del_estero

  #Mostrar el cambio
    print(df_stgo_del_estero.head(),
          df_stgo_del_estero.dtypes)

  indice_tiempo   tavg  tmin  tmax   prcp    pres     tsun
0    2019-01-01  27.00  21.1  32.9  390.0  1008.4  11040.0
1    2019-02-01  26.00  20.1  31.9   11.0  1010.7  14160.0
2    2019-03-01  23.15  18.0  28.3   77.0  1013.5   8400.0
3    2019-04-01  20.50  15.3  25.7   83.0  1014.0   8520.0
4    2019-05-01  16.65  11.2  22.1    9.0  1015.3   8820.0 indice_tiempo    datetime64[ns]
tavg                    float64
tmin                    float64
tmax                    float64
prcp                    float64
pres                    float64
tsun                    float64
dtype: object

In [6]:
#Para el resto de los csv (actividades) transformo la columna 'date' en formato fecha, agrupo los registros diarios a mensuales para cada df y renombro columna
"""Para no perder los datos, defino diccionario de funciones de agregaciÃ³n para cada columna:
- tavg, tmin, tmax, pres se promedian (media)
- prcp, tsun (precipitaciÃ³n y horas de sol) se suman"""
dict_agg = {
    'tavg': 'mean',
    'tmin': 'min',
    'tmax': 'max',
    'prcp': 'sum',
    'pres': 'mean',
    'tsun': 'sum',
    'snow': 'sum',
    'wdir': 'mean',
    'wspd': 'mean',
    'wpgt': 'max'
}

for name, df in uploaded_dataframes.items():
    if name not in ['actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual', 'stgo_del_estero_temperatura']:
        if 'date' in df.columns:
            # 1. Preparar la columna 'indice_tiempo'
            df['indice_tiempo'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=True).dt.to_period('M').dt.to_timestamp()
            # 2.Agrupar por el nuevo Ã­ndice de tiempo y agregar los datos, usando .agg() con y el diccionario
            df_agregado = df.groupby('indice_tiempo').agg(dict_agg).reset_index()

            # 3. Formatear la columna de tiempo a la cadena 'YYYY-MM-01'
            df_agregado['indice_tiempo'] = df_agregado['indice_tiempo']

            # 4. Reemplazar el DataFrame original en el diccionario
            uploaded_dataframes[name] = df_agregado

            # Mostrar los cambios
            print(f"DataFrame agregado: {name}")
            print(df_agregado.head())

#Guardar en el diccionario
for name, df in uploaded_dataframes.items():
  if name != 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual'and name!= 'stgo_del_estero_temperatura':
    uploaded_dataframes[name] = df
    #Mostrar los cambios
    print(f"DataFrame: {name}")
    print(df.head())

DataFrame agregado: bsas_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  18.450000   3.0  32.2   0.0  1014.433333   0.0   5.0   NaN
1    2019-02-01  19.000000   6.5  32.7   2.0  1014.600000   0.0   0.0   NaN
2    2019-03-01  16.791667   2.4  32.7   8.9  1017.550000   0.0   0.0   NaN
3    2019-04-01  17.200000   3.5  29.2   0.0  1016.941667   0.0   0.0   NaN
4    2019-05-01  17.333333   2.0  29.7   0.0  1018.783333   0.0   1.0   NaN

        wspd  wpgt
0   9.558333   NaN
1  10.341667   NaN
2   9.483333   NaN
3   8.766667   NaN
4   9.625000   NaN
DataFrame agregado: catamarca_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  22.900000  10.9  31.4   1.0   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  22.427273   7.5  40.0   8.2   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  21.190909   3.8  39.5  21.1   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  21.280000   4.4  37.7   0.5   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  19.037500   6.1  30.6  93.7   NaN   0.0   0.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame agregado: chaco_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  18.925000  12.9  37.6   0.0   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  20.625000   6.6  35.0  47.0   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  23.400000   8.5  36.4   6.1   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  18.171429   1.4  31.5   2.0   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  18.762500   2.9  37.0  61.3   NaN   0.0   0.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame agregado: chubut_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  13.241667  -1.0  31.8   4.1  1010.320000   0.0   0.0   NaN
1    2019-02-01  12.650000   0.4  28.6   5.5  1013.430000   0.0   0.0   NaN
2    2019-03-01  11.100000  -2.3  28.7   0.0  1012.955556   0.0   0.0   NaN
3    2019-04-01  11.650000  -3.4  29.3   0.0  1013.890000   0.0   0.0   NaN
4    2019-05-01  13.054545  -0.7  30.2   0.0  1013.870000   0.0   0.0   NaN

        wspd  wpgt
0  15.020000   NaN
1  16.640000   NaN
2  16.577778   NaN
3  16.480000   NaN
4  15.840000   NaN
DataFrame agregado: cordoba_temperatura
  indice_tiempo  tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  wpgt
0    2019-01-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
1    2019-02-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
2    2019-03-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
3    2019-04-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
4    2019-05-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
DataFrame agregado: corrientes_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  22.341667   9.4  39.1  78.1  1012.158333   0.0   0.0   NaN
1    2019-02-01  21.091667   8.4  37.8  71.3  1013.445455   0.0   0.0   NaN
2    2019-03-01  20.900000   0.2  37.8  41.7  1014.316667   0.0   0.0   NaN
3    2019-04-01  20.425000   3.5  36.4  20.6  1014.200000   0.0   0.0   NaN
4    2019-05-01  19.308333   3.4  33.4  37.8  1016.691667   0.0   0.0   NaN

        wspd  wpgt
0  12.916667   NaN
1  11.583333   NaN
2  11.591667   NaN
3  13.108333   NaN
4  15.258333   NaN
DataFrame agregado: entre_rios_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp     pres  tsun  snow  wdir  \
0    2019-01-01  18.618182   8.5  33.3   0.0  1014.75   0.0   0.0   NaN
1    2019-02-01  17.070000   5.4  31.7   0.0  1015.39   0.0   0.0   NaN
2    2019-03-01  17.433333   2.0  35.8  28.2  1016.75   0.0   0.0   NaN
3    2019-04-01  16.160000   3.0  31.2  64.2  1016.28   0.0   0.0   NaN
4    2019-05-01  16.318182   0.9  30.0  65.0  1019.18   0.0   0.0   NaN

    wspd  wpgt
0  15.12   NaN
1  14.33   NaN
2  10.49   NaN
3  13.52   NaN
4  15.62   NaN
DataFrame agregado: formosa_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  22.900000  10.9  31.4   1.0   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  22.427273   7.5  40.0   8.2   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  21.190909   3.8  39.5  21.1   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  21.280000   4.4  37.7   0.5   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  19.037500   6.1  30.6  93.7   NaN   0.0   0.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame agregado: jujuy_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  19.033333   5.7  38.1  29.8  1014.558333   0.0   0.0   NaN
1    2019-02-01  18.816667   3.9  36.7  14.9  1015.391667   0.0   0.0   NaN
2    2019-03-01  17.900000   1.0  33.1   6.9  1016.825000   0.0   0.0   NaN
3    2019-04-01  18.191667   0.3  33.7  39.1  1015.866667   0.0   0.0   NaN
4    2019-05-01  17.550000   1.4  33.8  84.8  1018.833333   0.0   0.0   NaN

        wspd  wpgt
0  10.650000   NaN
1   9.808333   NaN
2   9.483333   NaN
3   8.283333   NaN
4   8.908333   NaN
DataFrame agregado: la_pampa_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  16.850000  -2.1  32.7   0.0  1013.975000   0.0   0.0   NaN
1    2019-02-01  16.450000  -2.1  33.6   7.1  1016.025000   0.0   0.0   NaN
2    2019-03-01  14.758333  -6.2  33.8   0.0  1016.983333   0.0   0.0   NaN
3    2019-04-01  15.266667  -4.5  32.2   1.0  1016.741667   0.0   0.0   NaN
4    2019-05-01  15.808333  -4.5  34.7   0.0  1017.225000   0.0   0.0   NaN

        wspd  wpgt
0  14.241667   NaN
1  14.558333   NaN
2  13.725000   NaN
3  15.583333   NaN
4  14.741667   NaN
DataFrame agregado: la_rioja_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  20.036364   4.9  39.2  21.6  1011.430000   0.0   0.0   NaN
1    2019-02-01  19.908333  -0.6  39.0   5.1  1012.320000   0.0   0.0   NaN
2    2019-03-01  19.754545   0.4  40.5  10.9  1010.985714   0.0   0.0   NaN
3    2019-04-01  18.140000   1.9  37.5   0.0  1013.433333   0.0   0.0   NaN
4    2019-05-01  18.150000   1.0  35.5   6.1  1015.120000   0.0   0.0   NaN

       wspd  wpgt
0  7.300000   NaN
1  7.720000   NaN
2  5.942857   NaN
3  6.766667   NaN
4  7.550000   NaN
DataFrame agregado: mendoza_temperatura
  indice_tiempo  tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  wpgt
0    2019-01-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
1    2019-02-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
2    2019-03-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
3    2019-04-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
4    2019-05-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
DataFrame agregado: misiones_temperatura
  indice_tiempo       tavg  tmin  tmax   prcp         pres  tsun  snow  wdir  \
0    2019-01-01  23.608333  11.2  38.2   51.1  1012.216667   0.0   0.0   NaN
1    2019-02-01  22.325000   8.2  38.5   26.0  1012.941667   0.0   0.0   NaN
2    2019-03-01  21.675000   6.5  36.3   39.1  1014.050000   0.0   0.0   NaN
3    2019-04-01  21.383333   5.5  35.8   15.0  1013.945455   0.0   0.0   NaN
4    2019-05-01  20.258333   4.6  35.9  101.8  1016.233333   0.0   0.0   NaN

        wspd  wpgt
0  11.358333   NaN
1  10.950000   NaN
2  10.833333   NaN
3  11.216667   NaN
4  12.091667   NaN
DataFrame agregado: neuquen_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  16.050000  -1.5  34.8   0.0  1014.150000   0.0   0.0   NaN
1    2019-02-01  15.933333   0.3  33.3   0.0  1016.966667   0.0   0.0   NaN
2    2019-03-01  14.466667  -5.2  32.8   0.0  1015.800000   0.0   0.0   NaN
3    2019-04-01  14.633333  -2.6  33.2   0.0  1016.236364   0.0   1.0   NaN
4    2019-05-01  15.758333  -2.2  37.2   0.0  1015.683333   0.0   0.0   NaN

        wspd  wpgt
0  10.858333   NaN
1  13.941667   NaN
2   9.325000   NaN
3  11.641667   NaN
4   9.650000   NaN
DataFrame agregado: r_negro_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  13.972727  -2.4  32.8   0.0  1009.955556   0.0   0.0   NaN
1    2019-02-01  13.440000   0.3  31.6   0.0  1013.444444   0.0   1.0   NaN
2    2019-03-01  12.111111  -1.9  31.7   0.0  1014.488889   0.0   0.0   NaN
3    2019-04-01  12.733333  -0.8  31.8   0.0  1013.575000   0.0   1.0   NaN
4    2019-05-01  13.450000  -2.7  31.4   0.0  1016.025000   0.0   0.0   NaN

        wspd  wpgt
0  21.177778   NaN
1  21.722222   NaN
2  19.033333   NaN
3  19.662500   NaN
4  16.275000   NaN
DataFrame agregado: salta_temperatura
  indice_tiempo       tavg  tmin  tmax   prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  17.800000   3.2  33.7    0.0   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  11.000000   7.2  20.2    0.0   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  17.771429   3.1  34.3  528.6   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  14.571429   5.9  27.4    0.0   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  14.866667   8.5  31.8    0.0   NaN   0.0   3.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame agregado: sanjuan_temperatura
  indice_tiempo       tavg  tmin  tmax   prcp         pres  tsun  snow  wdir  \
0    2019-01-01  18.925000  -0.5  36.6    0.0  1013.580000   0.0   0.0   NaN
1    2019-02-01  17.825000  -4.5  39.0  183.9  1014.377778   0.0   0.0   NaN
2    2019-03-01  17.083333  -3.2  36.0    8.1  1014.260000   0.0   0.0   NaN
3    2019-04-01  16.991667  -2.0  35.5    0.0  1014.710000   0.0   0.0   NaN
4    2019-05-01  17.466667  -3.7  33.5    0.0  1016.800000   0.0   0.0   NaN

        wspd  wpgt
0  14.120000   NaN
1  14.355556   NaN
2   9.840000   NaN
3  13.660000   NaN
4  11.270000   NaN
DataFrame agregado: sanluis_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  19.216667   1.5  34.2   0.0  1012.700000   0.0   0.0   NaN
1    2019-02-01  17.154545   0.9  35.9   0.0  1012.342857   0.0   0.0   NaN
2    2019-03-01  17.725000  -2.1  33.9   0.5  1013.133333   0.0   0.0   NaN
3    2019-04-01  17.050000   2.8  34.0   8.2  1014.510000   0.0   0.0   NaN
4    2019-05-01  17.633333   0.9  30.5   1.3  1016.460000   0.0   0.0   NaN

        wspd  wpgt
0  18.077778   NaN
1  21.685714   NaN
2  15.366667   NaN
3  16.870000   NaN
4  18.240000   NaN
DataFrame agregado: santafe_temperatura
  indice_tiempo   tavg  tmin  tmax  prcp     pres  tsun  snow  wdir   wspd  \
0    2019-01-01  17.56   5.7  30.6   0.0  1014.59   0.0   0.0   NaN  14.18
1    2019-02-01  17.02   8.2  26.5   0.0  1015.25   0.0   0.0   NaN  12.73
2    2019-03-01  16.28  -0.7  26.0   0.0  1016.57   0.0   0.0   NaN  11.19
3    2019-04-01  16.23   1.5  25.2   0.0  1016.07   0.0   0.0   NaN  13.79
4    2019-05-01  15.91  -0.9  26.7   0.0  1019.02   0.0   0.0   NaN  14.24

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame agregado: sta_cruz_temperatura
  indice_tiempo      tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  7.575000  -4.2  21.1   0.3  1005.066667   0.0   0.0   NaN
1    2019-02-01  8.491667  -2.2  25.2  12.4  1007.900000   0.0   0.0   NaN
2    2019-03-01  8.183333  -7.5  31.2  10.7  1005.716667   0.0   0.0   NaN
3    2019-04-01  7.866667  -7.2  31.8   1.0  1004.216667   0.0   0.0   NaN
4    2019-05-01  8.100000  -3.0  34.6   0.3  1000.183333   0.0   0.0   NaN

        wspd  wpgt
0  21.158333   NaN
1  23.691667   NaN
2  23.600000   NaN
3  24.566667   NaN
4  22.833333   NaN
DataFrame agregado: t_d_fuego_temperatura
  indice_tiempo      tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  5.250000  -4.6  16.0  22.5  1002.483333   0.0   1.0   NaN
1    2019-02-01  6.066667  -1.1  15.5   3.3  1004.766667   0.0   0.0   NaN
2    2019-03-01  6.066667  -4.4  19.0  11.6  1000.908333   0.0   1.0   NaN
3    2019-04-01  5.775000  -6.0  27.0   6.9   998.858333   0.0   0.0   NaN
4    2019-05-01  5.808333  -4.0  26.5  10.2   994.316667   0.0   0.0   NaN

        wspd  wpgt
0  23.800000   NaN
1  23.958333   NaN
2  25.308333   NaN
3  24.166667   NaN
4  22.550000   NaN
DataFrame agregado: tucuman_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  19.966667   9.3  39.3  24.9   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  19.766667  19.5  28.6  23.9   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  17.580000   6.0  37.9  80.0   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  18.071429   6.2  37.0   0.0   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  16.816667   4.5  31.0   1.5   NaN   0.0   0.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame: bsas_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  18.450000   3.0  32.2   0.0  1014.433333   0.0   5.0   NaN
1    2019-02-01  19.000000   6.5  32.7   2.0  1014.600000   0.0   0.0   NaN
2    2019-03-01  16.791667   2.4  32.7   8.9  1017.550000   0.0   0.0   NaN
3    2019-04-01  17.200000   3.5  29.2   0.0  1016.941667   0.0   0.0   NaN
4    2019-05-01  17.333333   2.0  29.7   0.0  1018.783333   0.0   1.0   NaN

        wspd  wpgt
0   9.558333   NaN
1  10.341667   NaN
2   9.483333   NaN
3   8.766667   NaN
4   9.625000   NaN
DataFrame: catamarca_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  22.900000  10.9  31.4   1.0   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  22.427273   7.5  40.0   8.2   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  21.190909   3.8  39.5  21.1   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  21.280000   4.4  37.7   0.5   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  19.037500   6.1  30.6  93.7   NaN   0.0   0.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame: chaco_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  18.925000  12.9  37.6   0.0   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  20.625000   6.6  35.0  47.0   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  23.400000   8.5  36.4   6.1   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  18.171429   1.4  31.5   2.0   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  18.762500   2.9  37.0  61.3   NaN   0.0   0.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame: chubut_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  13.241667  -1.0  31.8   4.1  1010.320000   0.0   0.0   NaN
1    2019-02-01  12.650000   0.4  28.6   5.5  1013.430000   0.0   0.0   NaN
2    2019-03-01  11.100000  -2.3  28.7   0.0  1012.955556   0.0   0.0   NaN
3    2019-04-01  11.650000  -3.4  29.3   0.0  1013.890000   0.0   0.0   NaN
4    2019-05-01  13.054545  -0.7  30.2   0.0  1013.870000   0.0   0.0   NaN

        wspd  wpgt
0  15.020000   NaN
1  16.640000   NaN
2  16.577778   NaN
3  16.480000   NaN
4  15.840000   NaN
DataFrame: cordoba_temperatura
  indice_tiempo  tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  wpgt
0    2019-01-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
1    2019-02-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
2    2019-03-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
3    2019-04-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
4    2019-05-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
DataFrame: corrientes_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  22.341667   9.4  39.1  78.1  1012.158333   0.0   0.0   NaN
1    2019-02-01  21.091667   8.4  37.8  71.3  1013.445455   0.0   0.0   NaN
2    2019-03-01  20.900000   0.2  37.8  41.7  1014.316667   0.0   0.0   NaN
3    2019-04-01  20.425000   3.5  36.4  20.6  1014.200000   0.0   0.0   NaN
4    2019-05-01  19.308333   3.4  33.4  37.8  1016.691667   0.0   0.0   NaN

        wspd  wpgt
0  12.916667   NaN
1  11.583333   NaN
2  11.591667   NaN
3  13.108333   NaN
4  15.258333   NaN
DataFrame: entre_rios_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp     pres  tsun  snow  wdir  \
0    2019-01-01  18.618182   8.5  33.3   0.0  1014.75   0.0   0.0   NaN
1    2019-02-01  17.070000   5.4  31.7   0.0  1015.39   0.0   0.0   NaN
2    2019-03-01  17.433333   2.0  35.8  28.2  1016.75   0.0   0.0   NaN
3    2019-04-01  16.160000   3.0  31.2  64.2  1016.28   0.0   0.0   NaN
4    2019-05-01  16.318182   0.9  30.0  65.0  1019.18   0.0   0.0   NaN

    wspd  wpgt
0  15.12   NaN
1  14.33   NaN
2  10.49   NaN
3  13.52   NaN
4  15.62   NaN
DataFrame: formosa_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  \
0    2019-01-01  22.900000  10.9  31.4   1.0   NaN   0.0   0.0   NaN   NaN
1    2019-02-01  22.427273   7.5  40.0   8.2   NaN   0.0   0.0   NaN   NaN
2    2019-03-01  21.190909   3.8  39.5  21.1   NaN   0.0   0.0   NaN   NaN
3    2019-04-01  21.280000   4.4  37.7   0.5   NaN   0.0   0.0   NaN   NaN
4    2019-05-01  19.037500   6.1  30.6  93.7   NaN   0.0   0.0   NaN   NaN

   wpgt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
DataFrame: jujuy_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  19.033333   5.7  38.1  29.8  1014.558333   0.0   0.0   NaN
1    2019-02-01  18.816667   3.9  36.7  14.9  1015.391667   0.0   0.0   NaN
2    2019-03-01  17.900000   1.0  33.1   6.9  1016.825000   0.0   0.0   NaN
3    2019-04-01  18.191667   0.3  33.7  39.1  1015.866667   0.0   0.0   NaN
4    2019-05-01  17.550000   1.4  33.8  84.8  1018.833333   0.0   0.0   NaN

        wspd  wpgt
0  10.650000   NaN
1   9.808333   NaN
2   9.483333   NaN
3   8.283333   NaN
4   8.908333   NaN
DataFrame: la_pampa_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  16.850000  -2.1  32.7   0.0  1013.975000   0.0   0.0   NaN
1    2019-02-01  16.450000  -2.1  33.6   7.1  1016.025000   0.0   0.0   NaN
2    2019-03-01  14.758333  -6.2  33.8   0.0  1016.983333   0.0   0.0   NaN
3    2019-04-01  15.266667  -4.5  32.2   1.0  1016.741667   0.0   0.0   NaN
4    2019-05-01  15.808333  -4.5  34.7   0.0  1017.225000   0.0   0.0   NaN

        wspd  wpgt
0  14.241667   NaN
1  14.558333   NaN
2  13.725000   NaN
3  15.583333   NaN
4  14.741667   NaN
DataFrame: la_rioja_temperatura
  indice_tiempo       tavg  tmin  tmax  prcp         pres  tsun  snow  wdir  \
0    2019-01-01  20.036364   4.9  39.2  21.6  1011.430000   0.0   0.0   NaN
1    2019-02-01  19.908333  -0.6  39.0   5.1  1012.320000   0.0   0.0   NaN
2    2019-03-01  19.754545   0.4  40.5  10.9  1010.985714   0.0   0.0   NaN
3    2019-04-01  18.140000   1.9  37.5   0.0  1013.433333   0.0   0.0   NaN
4    2019-05-01  18.150000   1.0  35.5   6.1  1015.120000   0.0   0.0   NaN

       wspd  wpgt
0  7.300000   NaN
1  7.720000   NaN
2  5.942857   NaN
3  6.766667   NaN
4  7.550000   NaN
DataFrame: mendoza_temperatura
  indice_tiempo  tavg  tmin  tmax  prcp  pres  tsun  snow  wdir  wspd  wpgt
0    2019-01-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
1    2019-02-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
2    2019-03-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
3    2019-04-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
4    2019-05-01   NaN   NaN   NaN   0.0   NaN   0.0   0.0   NaN   NaN   NaN
DataFrame: misiones_temperatura
  indice_tiempo       tavg  tmin  tmax   prcp         pres  tsun  snow  wdir  \
0    2019-01-01  23.608333  11.2  38.2   51.1  1012.216667   0.0   0.0   NaN
1    2019-02-01  22.325000   8.2  38.5   26.0  1012.941667   0.0   0.0   NaN
2    2019-03-01  21.675000   6.5  36.3   39.1  1014.050000   0.0   0.0   NaN
3    2019-04-01  21.383333   5.5  35.8   15.0  1013.945455   0.0   0.0   NaN

### Eliminar columnas

In [7]:
#Eliminar columnas que no se usarÃ¡n
columns_to_drop = ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']

for name, df in uploaded_dataframes.items():
    if name != 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual':
        cols_existentes = [col for col in columns_to_drop if col in df.columns]

        if cols_existentes:  # si hay al menos una columna para eliminar
            df.drop(columns=cols_existentes, inplace=True)
            print(f"âœ… DataFrame '{name}': se eliminaron las columnas {cols_existentes}")
            print(df.info(), "\n")
        else:
            print(f"âš ï¸ DataFrame '{name}': no contiene ninguna de las columnas a eliminar.\n")


#Mostrar cambio
for name, df in uploaded_dataframes.items():
  if name != 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual':
    print(f"DataFrame: {name}")
    print(df.info())
    print('\n')

âœ… DataFrame 'bsas_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'catamarca_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'chaco_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'chubut_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'cordoba_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           48 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'corrientes_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'entre_rios_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'formosa_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'jujuy_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'la_pampa_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'la_rioja_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'mendoza_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           51 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'misiones_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'neuquen_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'r_negro_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'salta_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'sanjuan_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'sanluis_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'santafe_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'sta_cruz_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'stgo_del_estero_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 't_d_fuego_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

âœ… DataFrame 'tucuman_temperatura': se eliminaron las columnas ['tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

DataFrame: bsas_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: catamarca_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: chaco_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: chubut_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: cordoba_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           48 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: corrientes_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: entre_rios_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: formosa_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: jujuy_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: la_pampa_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: la_rioja_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: mendoza_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           51 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: misiones_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: neuquen_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: r_negro_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: salta_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: sanjuan_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: sanluis_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: santafe_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: sta_cruz_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: stgo_del_estero_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: t_d_fuego_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None


DataFrame: tucuman_temperatura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   indice_tiempo  60 non-null     datetime64[ns]
 1   tavg           60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

###Tratamiento de datos

In [8]:
#Verificar si hay Nan o nulos
for name, df in uploaded_dataframes.items():
  if name != 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual':
    print(f"DataFrame: {name}")
    print(df.isnull().sum())
    print('\n')

DataFrame: bsas_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: catamarca_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: chaco_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: chubut_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: cordoba_temperatura
indice_tiempo     0
tavg             12
dtype: int64


DataFrame: corrientes_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: entre_rios_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: formosa_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: jujuy_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: la_pampa_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: la_rioja_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: mendoza_temperatura
indice_tiempo    0
tavg             9
dtype: int64


DataFrame: misiones_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: neuquen_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: r_negro_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: salta_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: sanjuan_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: sanluis_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: santafe_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: sta_cruz_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: stgo_del_estero_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: t_d_fuego_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: tucuman_temperatura
indice_tiempo    0
tavg             0
dtype: int64

In [9]:
#Mirar las estadÃ­sticas
for name, df in uploaded_dataframes.items():
  if name != 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual':
    print(f"DataFrame: {name}")
    print(df.describe())

DataFrame: bsas_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  18.663750
min    2019-01-01 00:00:00  16.716667
25%    2020-03-24 06:00:00  18.097917
50%    2021-06-16 00:00:00  18.654167
75%    2022-09-08 12:00:00  19.000000
max    2023-12-01 00:00:00  20.800000
std                    NaN   0.895006
DataFrame: catamarca_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  22.692040
min    2019-01-01 00:00:00  19.037500
25%    2020-03-24 06:00:00  21.595000
50%    2021-06-16 00:00:00  22.394886
75%    2022-09-08 12:00:00  23.778472
max    2023-12-01 00:00:00  26.300000
std                    NaN   1.568200
DataFrame: chaco_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  21.588678
min    2019-01-01 00:00:00  15.533333
25%    2020-03-24 06:00:00  20.555000
50%    2021-06-16 00:00:00  21.608333
75%    2022-09-08 12:00:00  23.105000
max    2023-12-01 00:00:00  25.533333
std                    NaN   2.242673
DataFrame: chubut_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  14.546364
min    2019-01-01 00:00:00  11.100000
25%    2020-03-24 06:00:00  13.842045
50%    2021-06-16 00:00:00  14.879167
75%    2022-09-08 12:00:00  15.445833
max    2023-12-01 00:00:00  17.033333
std                    NaN   1.224865
DataFrame: cordoba_temperatura
             indice_tiempo       tavg
count                   60  48.000000
mean   2021-06-16 06:24:00  19.048438
min    2019-01-01 00:00:00  15.950000
25%    2020-03-24 06:00:00  18.295833
50%    2021-06-16 00:00:00  19.216667
75%    2022-09-08 12:00:00  19.760417
max    2023-12-01 00:00:00  22.516667
std                    NaN   1.427082
DataFrame: corrientes_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  22.073659
min    2019-01-01 00:00:00  19.308333
25%    2020-03-24 06:00:00  21.210417
50%    2021-06-16 00:00:00  21.970833
75%    2022-09-08 12:00:00  22.493750
max    2023-12-01 00:00:00  25.227273
std                    NaN   1.259673
DataFrame: entre_rios_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  18.823278
min    2019-01-01 00:00:00  16.160000
25%    2020-03-24 06:00:00  18.093750
50%    2021-06-16 00:00:00  18.621591
75%    2022-09-08 12:00:00  19.356250
max    2023-12-01 00:00:00  21.400000
std                    NaN   1.141888
DataFrame: formosa_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  22.692040
min    2019-01-01 00:00:00  19.037500
25%    2020-03-24 06:00:00  21.595000
50%    2021-06-16 00:00:00  22.394886
75%    2022-09-08 12:00:00  23.778472
max    2023-12-01 00:00:00  26.300000
std                    NaN   1.568200
DataFrame: jujuy_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  19.551806
min    2019-01-01 00:00:00  17.550000
25%    2020-03-24 06:00:00  18.991667
50%    2021-06-16 00:00:00  19.237500
75%    2022-09-08 12:00:00  20.045833
max    2023-12-01 00:00:00  22.275000
std                    NaN   1.040842
DataFrame: la_pampa_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  16.395417
min    2019-01-01 00:00:00  14.575000
25%    2020-03-24 06:00:00  15.895833
50%    2021-06-16 00:00:00  16.441667
75%    2022-09-08 12:00:00  16.918750
max    2023-12-01 00:00:00  18.508333
std                    NaN   0.861720
DataFrame: la_rioja_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  20.673278
min    2019-01-01 00:00:00  18.140000
25%    2020-03-24 06:00:00  20.077841
50%    2021-06-16 00:00:00  20.537500
75%    2022-09-08 12:00:00  21.316667
max    2023-12-01 00:00:00  23.766667
std                    NaN   1.181103
DataFrame: mendoza_temperatura
             indice_tiempo       tavg
count                   60  51.000000
mean   2021-06-16 06:24:00  18.280521
min    2019-01-01 00:00:00  15.683333
25%    2020-03-24 06:00:00  17.170833
50%    2021-06-16 00:00:00  17.808333
75%    2022-09-08 12:00:00  18.450000
max    2023-12-01 00:00:00  28.700000
std                    NaN   2.281078
DataFrame: misiones_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  23.014939
min    2019-01-01 00:00:00  20.258333
25%    2020-03-24 06:00:00  22.196429
50%    2021-06-16 00:00:00  22.966667
75%    2022-09-08 12:00:00  23.540179
max    2023-12-01 00:00:00  28.450000
std                    NaN   1.413102
DataFrame: neuquen_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  15.988333
min    2019-01-01 00:00:00  13.366667
25%    2020-03-24 06:00:00  15.597917
50%    2021-06-16 00:00:00  16.054167
75%    2022-09-08 12:00:00  16.691667
max    2023-12-01 00:00:00  17.583333
std                    NaN   0.942826
DataFrame: r_negro_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  15.175357
min    2019-01-01 00:00:00  12.111111
25%    2020-03-24 06:00:00  14.484167
50%    2021-06-16 00:00:00  15.270833
75%    2022-09-08 12:00:00  16.075000
max    2023-12-01 00:00:00  17.900000
std                    NaN   1.180413
DataFrame: salta_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  17.220325
min    2019-01-01 00:00:00  11.000000
25%    2020-03-24 06:00:00  16.090000
50%    2021-06-16 00:00:00  17.345238
75%    2022-09-08 12:00:00  18.361250
max    2023-12-01 00:00:00  23.033333
std                    NaN   1.992128
DataFrame: sanjuan_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  18.716465
min    2019-01-01 00:00:00  16.583333
25%    2020-03-24 06:00:00  17.939583
50%    2021-06-16 00:00:00  18.604167
75%    2022-09-08 12:00:00  19.266667
max    2023-12-01 00:00:00  21.583333
std                    NaN   1.108977
DataFrame: sanluis_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  18.774237
min    2019-01-01 00:00:00  16.066667
25%    2020-03-24 06:00:00  17.950000
50%    2021-06-16 00:00:00  18.708333
75%    2022-09-08 12:00:00  19.550000
max    2023-12-01 00:00:00  21.416667
std                    NaN   1.233789
DataFrame: santafe_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  18.952596
min    2019-01-01 00:00:00  15.910000
25%    2020-03-24 06:00:00  18.279167
50%    2021-06-16 00:00:00  18.900000
75%    2022-09-08 12:00:00  19.533750
max    2023-12-01 00:00:00  22.183333
std                    NaN   1.303384
DataFrame: sta_cruz_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00   8.217778
min    2019-01-01 00:00:00   6.733333
25%    2020-03-24 06:00:00   7.591667
50%    2021-06-16 00:00:00   8.033333
75%    2022-09-08 12:00:00   8.635417
max    2023-12-01 00:00:00  11.000000
std                    NaN   0.869432
DataFrame: stgo_del_estero_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  21.475000
min    2019-01-01 00:00:00  11.800000
25%    2020-03-24 06:00:00  16.337500
50%    2021-06-16 00:00:00  22.400000
75%    2022-09-08 12:00:00  26.287500
max    2023-12-01 00:00:00  30.200000
std                    NaN   5.351948
DataFrame: t_d_fuego_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00   6.581250
min    2019-01-01 00:00:00   4.466667
25%    2020-03-24 06:00:00   6.025000
50%    2021-06-16 00:00:00   6.466667
75%    2022-09-08 12:00:00   7.137500
max    2023-12-01 00:00:00   9.383333
std                    NaN   0.930763
DataFrame: tucuman_temperatura
             indice_tiempo       tavg
count                   60  60.000000
mean   2021-06-16 06:24:00  19.958282
min    2019-01-01 00:00:00  15.566667
25%    2020-03-24 06:00:00  18.477500
50%    2021-06-16 00:00:00  19.933333
75%    2022-09-08 12:00:00  21.075000
max    2023-12-01 00:00:00  25.300000
std                    NaN   2.112147

No se encontraron valores que necesitaran ser reemplazados*, pero de haberse encontrado:
 - En 'indice_tiempo' (columna en formato fecha) se hubiera utilizado el mÃ©todo de imputaciÃ³n **.fillna(method='ffill')** para que los NaT(Not a Time) en una fila tomen el valor de la fila anterior.
 - En la columna 'tavg' para los csv cordoba (12) y mendoza(9), se imputarÃ¡ con la mediana.

*Para los valores que necesitan ser reemplazados, Pandas cuenta todos estos indicadores de "falta de valor" (NaN, None, NaT), utilizÃ¡ndose el mismo mÃ©todo para encontrarlos **df.isnull().sum()**

In [10]:
#Imputar datos faltantes para el csv cordoba_temperatura y mendoza_temperatura
for name, df in uploaded_dataframes.items():
  if name in ['cordoba_temperatura', 'mendoza_temperatura']:
    df['tavg'].fillna(df['tavg'].median(), inplace=True)
    print(f"DataFrame: {name}")
    print(df.isnull().sum())
    print('\n')

DataFrame: cordoba_temperatura
indice_tiempo    0
tavg             0
dtype: int64


DataFrame: mendoza_temperatura
indice_tiempo    0
tavg             0
dtype: int64

/tmp/ipython-input-3197031113.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tavg'].fillna(df['tavg'].median(), inplace=True)

###Merge de los csv

In [11]:
"""Union de los csv en un solo que contendrÃ¡ las temperaturas de todas las provincias
la clave de uniÃ³n serÃ¡ la columna indice_tiempo"""

"""NOTA: La funciÃ³n reduce de Python, que se importa desde el mÃ³dulo functools,
sirve para aplicar repetidamente una funciÃ³n a los elementos de una secuencia
(como una lista) para reducir la secuencia a un Ãºnico valor acumulado."""
from functools import reduce

# 1. Renombrar las columnas en cada DataFrame (excepto la clave de uniÃ³n)
clave_union = 'indice_tiempo'
dfs_renombrados = {}

for name, df in uploaded_dataframes.items():
    # Creamos un nuevo diccionario de mapeo {nombre_viejo: nombre_nuevo}
    columnas_a_renombrar = {}

    for col in df.columns:
        if col != clave_union:
            # Creamos un nuevo nombre: 'tavg' -> 'tavg_DF_nombre'
            columnas_a_renombrar[col] = f"{col}_{name}"

    # Aplicamos el renombramiento y guardamos el DF limpio
    dfs_renombrados[name] = df.rename(columns=columnas_a_renombrar)


# 2. Excluir el DataFrame de tratamiento aparte y crear la lista de DataFrames a fusionar
nombre_df_excluido = 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual'

lista_de_dfs_a_fusionar = [
    df for name, df in dfs_renombrados.items()
    if name != nombre_df_excluido
]


# 3. Aplicar la fusiÃ³n (Merge) con las columnas renombradas
tipo_union = 'outer'

df_final = reduce(
    lambda left, right: pd.merge(left, right, on=clave_union, how=tipo_union),
    lista_de_dfs_a_fusionar
)

print(f"Â¡FusiÃ³n exitosa con {len(lista_de_dfs_a_fusionar)} DataFrames y columnas Ãºnicas!")
print(df_final.head())

Â¡FusiÃ³n exitosa con 23 DataFrames y columnas Ãºnicas!
  indice_tiempo  tavg_bsas_temperatura  tavg_catamarca_temperatura  \
0    2019-01-01              18.450000                   22.900000
1    2019-02-01              19.000000                   22.427273
2    2019-03-01              16.791667                   21.190909
3    2019-04-01              17.200000                   21.280000
4    2019-05-01              17.333333                   19.037500

   tavg_chaco_temperatura  tavg_chubut_temperatura  tavg_cordoba_temperatura  \
0               18.925000                13.241667                 19.216667
1               20.625000                12.650000                 19.216667
2               23.400000                11.100000                 19.216667
3               18.171429                11.650000                 19.216667
4               18.762500                13.054545                 19.216667

   tavg_corrientes_temperatura  tavg_entre_rios_temperatura  \
0                    22.341667                    18.618182
1                    21.091667                    17.070000
2                    20.900000                    17.433333
3                    20.425000                    16.160000
4                    19.308333                    16.318182

   tavg_formosa_temperatura  tavg_jujuy_temperatura  ...  \
0                 22.900000               19.033333  ...
1                 22.427273               18.816667  ...
2                 21.190909               17.900000  ...
3                 21.280000               18.191667  ...
4                 19.037500               17.550000  ...

   tavg_neuquen_temperatura  tavg_r_negro_temperatura  tavg_salta_temperatura  \
0                 16.050000                 13.972727               17.800000
1                 15.933333                 13.440000               11.000000
2                 14.466667                 12.111111               17.771429
3                 14.633333                 12.733333               14.571429
4                 15.758333                 13.450000               14.866667

   tavg_sanjuan_temperatura  tavg_sanluis_temperatura  \
0                 18.925000                 19.216667
1                 17.825000                 17.154545
2                 17.083333                 17.725000
3                 16.991667                 17.050000
4                 17.466667                 17.633333

   tavg_santafe_temperatura  tavg_sta_cruz_temperatura  \
0                     17.56                   7.575000
1                     17.02                   8.491667
2                     16.28                   8.183333
3                     16.23                   7.866667
4                     15.91                   8.100000

   tavg_stgo_del_estero_temperatura  tavg_t_d_fuego_temperatura  \
0                             27.00                    5.250000
1                             26.00                    6.066667
2                             23.15                    6.066667
3                             20.50                    5.775000
4                             16.65                    5.808333

   tavg_tucuman_temperatura
0                 19.966667
1                 19.766667
2                 17.580000
3                 18.071429
4                 16.816667

[5 rows x 24 columns]

In [12]:
#Visualizar el resultado del merge
df_final.tail()

,indice_tiempo,tavg_bsas_temperatura,tavg_catamarca_temperatura,tavg_chaco_temperatura,tavg_chubut_temperatura,tavg_cordoba_temperatura,tavg_corrientes_temperatura,tavg_entre_rios_temperatura,tavg_formosa_temperatura,tavg_jujuy_temperatura,...,tavg_neuquen_temperatura,tavg_r_negro_temperatura,tavg_salta_temperatura,tavg_sanjuan_temperatura,tavg_sanluis_temperatura,tavg_santafe_temperatura,tavg_sta_cruz_temperatura,tavg_stgo_del_estero_temperatura,tavg_t_d_fuego_temperatura,tavg_tucuman_temperatura
55,2023-08-01,20.450000,24.163636,21.60,15.525000,21.300000,22.741667,20.608333,24.163636,21.075000,...,17.541667,16.491667,19.520,20.633333,20.683333,20.525000,8.208333,17.35,7.325000,19.120000
56,2023-09-01,20.800000,23.788889,24.56,15.825000,21.466667,22.441667,20.925000,23.788889,21.183333,...,17.083333,16.775000,17.975,20.916667,20.933333,20.975000,7.608333,20.55,6.400000,24.550000
57,2023-10-01,20.625000,25.340000,24.25,14.541667,22.516667,23.975000,21.400000,25.340000,21.600000,...,16.691667,16.066667,18.940,21.583333,20.883333,22.183333,7.591667,23.65,6.366667,19.066667
58,2023-11-01,20.058333,26.300000,19.50,13.575000,21.166667,24.950000,21.000000,26.300000,22.275000,...,15.408333,15.700000,18.000,20.533333,19.241667,20.925000,7.200000,26.20,5.691667,20.228571
59,2023-12-01,18.666667,24.322222,21.80,12.516667,19.333333,21.900000,18.650000,24.322222,21.566667,...,14.158333,14.183333,17.180,18.458333,17.958333,18.916667,7.591667,27.10,6.483333,22.366667

### Wide a Long

In [13]:
"""Por cuestiones de visualizaciÃ³n prÃ¡ctica, se cambiarÃ¡ de manera que pase de
wide---> a long y las provincias se les quitara el y prefijo 'tavg' y subfijo 'temperatura'"""
# Melt: pasar de formato wide a long, la nueva columna se llamarÃ¡ temp_promedio
df_merged_long = pd.melt(df_final, id_vars=['indice_tiempo'], var_name='provincia', value_name='temp_promedio')
"""Quitar el subfijo '_temperatura' y el prefijo 'tavg' de los nombres de
provincias para que solo queden los nombres de las provincias en la nueva columna"""
df_merged_long['provincia'] = df_merged_long['provincia'].str.replace('_temperatura', '').str.replace('tavg_', '')
# Mostrar resultado
df_merged_long.head()

  indice_tiempo provincia  temp_promedio
0    2019-01-01      bsas      18.450000
1    2019-02-01      bsas      19.000000
2    2019-03-01      bsas      16.791667
3    2019-04-01      bsas      17.200000
4    2019-05-01      bsas      17.333333

In [14]:
df_merged_long.tail()

     indice_tiempo provincia  temp_promedio
1375    2023-08-01   tucuman      19.120000
1376    2023-09-01   tucuman      24.550000
1377    2023-10-01   tucuman      19.066667
1378    2023-11-01   tucuman      20.228571
1379    2023-12-01   tucuman      22.366667

###Nuevas columnas: EstaciÃ³n y GDC (Grados/Dia de CalefacciÃ³n)

Se crearÃ¡n nuevas columnas que aportarÃ¡n gran valor y contexto a los datos.
- La primera serÃ¡ EstaciÃ³n, la cual serÃ¡ asignada mediante una funciÃ³n que utilizarÃ¡ la columna indice_tiempo
- La segunda serÃ¡ GDC, de la misma manera mediante una funciÃ³n, que tomarÃ¡ la temperatura promedio.
  Los Grados DÃ­a de CalefacciÃ³n (GDC): Se usan para calcular el consumo de gas para calefacciÃ³n en los meses frÃ­os, siendo un tipo de medida que cuantifica la demanda de energÃ­a para calentar un edificio, relacionando las temperaturas exteriores con una temperatura de confort deseada.

In [15]:
#Definir las funciones
#Defino funciÃ³n para asignar la estaciÃ³n
def asignar_estacion(fecha):
    mes = fecha.month
    if 12==mes or 1==mes or 2==mes:
        return 'Verano'
    elif 3==mes or 4==mes or 5==mes:
        return 'OtoÃ±o'
    elif 6==mes or 7==mes or 8==mes:
        return 'Invierno'
    elif 9==mes or 10==mes or 11==mes:
        return 'Primavera'

"""Defino funciÃ³n que calcula el gdc.
IMPORTANTE, un valor mayor a 18 es igual a 0
Se calculan como la suma de las diferencias entre una temperatura base de calefacciÃ³n y
la temperatura media diaria exterior,
considerando Ãºnicamente los dÃ­as en que la temperatura media es inferior a la temperatura base.
La temperatura base es 18
La temperatura media diaria se toma 30 como valor"""
def calcular_gdc_mensual_aprox(temp_media_mensual):
    """
    Calcula una APROXIMACIÃ“N del GDC usando la temperatura media mensual.
    La fÃ³rmula es: max(0, T_base - T_media) * 30 dÃ­as.
    """
    temp_base = 18
    dias_del_mes_aprox = 30  #30 como valor constante para la aproximaciÃ³n

    # 1. Calcular la diferencia (T_base - T_media)
    diferencia_temperatura = temp_base - temp_media_mensual

    # 2. Aplicar la regla: si la diferencia es negativa, es 0
    gdc_unitario = max(0, diferencia_temperatura)

    # 3. Multiplicar por los dÃ­as para obtener el valor acumulado mensual
    gdc_total_mes = gdc_unitario * dias_del_mes_aprox

    return gdc_total_mes

In [16]:
#Generar columna estaciÃ³n, con los datos correspondientes
df_merged_long['estacion'] = df_merged_long['indice_tiempo'].apply(asignar_estacion)

#Mostrar resultados
df_merged_long.head()

  indice_tiempo provincia  temp_promedio estacion
0    2019-01-01      bsas      18.450000   Verano
1    2019-02-01      bsas      19.000000   Verano
2    2019-03-01      bsas      16.791667    OtoÃ±o
3    2019-04-01      bsas      17.200000    OtoÃ±o
4    2019-05-01      bsas      17.333333    OtoÃ±o

In [17]:
"""Generar la columna gdc y los valores correspondientes (Recordando que un gdc
mayor a 18 es igual a 0)"""
df_merged_long['gdc'] = df_merged_long['temp_promedio'].apply(calcular_gdc_mensual_aprox)

#Mostrar resultados
df_merged_long.head()

  indice_tiempo provincia  temp_promedio estacion    gdc
0    2019-01-01      bsas      18.450000   Verano   0.00
1    2019-02-01      bsas      19.000000   Verano   0.00
2    2019-03-01      bsas      16.791667    OtoÃ±o  36.25
3    2019-04-01      bsas      17.200000    OtoÃ±o  24.00
4    2019-05-01      bsas      17.333333    OtoÃ±o  20.00

## TransformaciÃ³n actividades del gas

El csv cargado (Denominado 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual') brinda informaciÃ³n a nivel mensual sobre el consumo de gas natural a nivel nacional, residencial, por distribuidora y entre otros.
En el tratamiento a realizar se incluye:
- La transformaciÃ³n de la columna indice_tiempo a date y el establecimiento del periodo de 2019-2023
- EliminaciÃ³n de columnas que no serÃ¡n utilizadas.
- AgrupaciÃ³n de columnas para generar una nueva.

### TransformaciÃ³n para la fecha

In [18]:
#ConversiÃ³n de dato para el csv 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual'
if 'actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual' in uploaded_dataframes:
  df_actividad = uploaded_dataframes['actividad-saldocomercial-rangos-exportacion-empresa-exportadora-mensual']
  df_actividad['indice_tiempo'] = pd.to_datetime(df_actividad['indice_tiempo'], errors='coerce')

#Mostrar cambio
print(df_actividad.head(),
      df_actividad.dtypes)

  indice_tiempo  produccion_gas_natural     total  residencial  comercial  \
0    1996-01-01                 2504.98  1913.116      211.996     42.534
1    1996-02-01                 2325.37  1731.663      216.713     43.851
2    1996-03-01                 2735.07  2018.787      225.193     56.130
3    1996-04-01                 2584.15  1935.116      351.159     73.160
4    1996-05-01                 3006.48  2304.546      572.829     75.569

   entes_oficiales  industria  centrales_electricas     sdb     gnc  metrogas  \
0            8.783    605.413               803.185  12.203  85.856   496.604
1            9.499    626.625               656.703  14.482  75.903   398.279
2           16.476    669.272               832.398  15.871  80.857   503.750
3           17.779    658.115               612.963  18.109  88.107   458.635
4           23.653    645.976               748.281  22.857  91.773   562.713

   gas_natural_fenosa  distrib_gas_del_centro_ecogas  \
0             150.440                         90.166
1             168.594                         84.350
2             177.370                         92.186
3             200.311                         98.590
4             259.457                        112.201

   distrib_gas_cuyana_ecogas  litoral_gas  gasnea  redengas   gasnor  \
0                     99.731      180.638     0.0     1.343  135.642
1                     95.175      168.693     0.0     1.439  137.112
2                    111.341      184.743     0.0     1.587  140.103
3                     93.188      192.930     0.0     1.591  125.108
4                    115.219      237.872     0.0     2.073  141.535

   camuzzi_gas_pampeana  camuzzi_gas_del_sur
0               413.012              345.540
1               350.583              327.438
2               424.864              382.843
3               350.836              413.927
4               438.767              434.709   indice_tiempo                    datetime64[ns]
produccion_gas_natural                  float64
total                                   float64
residencial                             float64
comercial                               float64
entes_oficiales                         float64
industria                               float64
centrales_electricas                    float64
sdb                                     float64
gnc                                     float64
metrogas                                float64
gas_natural_fenosa                      float64
distrib_gas_del_centro_ecogas           float64
distrib_gas_cuyana_ecogas               float64
litoral_gas                             float64
gasnea                                  float64
redengas                                float64
gasnor                                  float64
camuzzi_gas_pampeana                    float64
camuzzi_gas_del_sur                     float64
dtype: object

In [19]:
#Establecer periodo de tiempo
df_actividad = df_actividad[(df_actividad['indice_tiempo'] >= '2019-01-01') & (df_actividad['indice_tiempo'] <= '2023-12-01')]

#Mostrar cambio
print(df_actividad.head(),
      df_actividad.tail())

    indice_tiempo  produccion_gas_natural     total  residencial  comercial  \
276    2019-01-01             4000.194452  3267.863      306.257     82.965
277    2019-02-01             3770.580137  3147.144      277.859     80.342
278    2019-03-01             4014.104313  3284.154      405.178     99.218
279    2019-04-01             3948.832523  3279.103      498.612     95.504
280    2019-05-01             4245.779178  3879.933      958.250    130.692

     entes_oficiales  industria  centrales_electricas     sdb      gnc  \
276           11.177    971.393              1480.435  63.461  193.813
277           10.635    970.018              1425.965  59.560  183.953
278           15.609   1007.868              1231.684  52.438  206.137
279           21.842    990.284              1098.785  66.781  198.856
280           45.922    961.941              1222.893  92.620  208.497

     metrogas  gas_natural_fenosa  distrib_gas_del_centro_ecogas  \
276   634.216             310.145                        165.041
277   592.420             314.097                        155.788
278   610.240             289.304                        160.238
279   560.418             253.853                        156.910
280   665.785             331.786                        202.080

     distrib_gas_cuyana_ecogas  litoral_gas  gasnea  redengas   gasnor  \
276                    179.750      462.579  16.833     4.772  290.373
277                    166.262      429.306  16.678     4.825  263.534
278                    185.045      423.973  18.758     4.800  232.259
279                    177.272      450.276  17.842     4.913  192.697
280                    214.195      529.695  24.102     6.660  287.550

     camuzzi_gas_pampeana  camuzzi_gas_del_sur
276               649.416              531.295
277               638.441              549.984
278               613.119              618.166
279               612.057              685.145
280               681.605              811.958       indice_tiempo  produccion_gas_natural     total  residencial  comercial  \
331    2023-08-01             4477.024219  4469.913     1445.818    171.911
332    2023-09-01             4296.923314  4014.886     1191.804    151.279
333    2023-10-01             3905.392633  3456.851      735.477    114.840
334    2023-11-01             3789.920718  3364.695      551.415    104.379
335    2023-12-01             3539.010723  3163.924      383.230     83.635

     entes_oficiales  industria  centrales_electricas      sdb      gnc  \
331           74.125    929.841              1304.953  120.478  190.236
332           62.626    958.547              1164.514   99.567  184.583
333           39.130    955.404              1004.197   64.754  191.516
334           26.230    986.178              1170.232   48.977  183.336
335           15.238    990.902              1220.328   35.820  187.901

     metrogas  gas_natural_fenosa  distrib_gas_del_centro_ecogas  \
331   669.122             462.321                        251.772
332   650.828             409.800                        220.664
333   570.308             347.384                        193.005
334   601.042             343.412                        184.499
335   567.162             309.138                        196.207

     distrib_gas_cuyana_ecogas  litoral_gas  gasnea  redengas   gasnor  \
331                    303.724      454.861  31.991     7.912  321.943
332                    248.920      355.693  27.609     6.841  274.641
333                    182.321      318.813  22.000     5.044  266.754
334                    169.785      300.688  20.471     4.720  304.534
335                    165.593      313.853  16.352     3.979  345.572

     camuzzi_gas_pampeana  camuzzi_gas_del_sur
331               882.736              978.488
332               863.940              870.598
333               760.687              593.130
334               750.574              533.446
335               685.572              440.476

### Columnas

In [20]:
#Se descartarÃ¡n las siguientes columnas definidas en la lista columna_excluir
columna_excluir=['metrogas', 'gas_natural_fenosa', 'distrib_gas_del_centro_ecogas', 'distrib_gas_cuyana_ecogas', 'litoral_gas', 'gasnea', 'redengas', 'gasnor', 'camuzzi_gas_pampeana', 'camuzzi_gas_del_sur']
df_actividad.drop(columns=columna_excluir, inplace=True)

/tmp/ipython-input-690759142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actividad.drop(columns=columna_excluir, inplace=True)

In [21]:
#Agrupamiento de columnas

"""Lista de columnas que serÃ¡n agrupadas en una nueva columna llamada 'Otros sectores',
puesto que no serÃ¡n analizadas individualmente"""
columnas_sumar = ['comercial', 'entes_oficiales', 'industria', 'centrales_electricas', 'sdb', 'gnc']

# Crear la nueva columna con la suma fila por fila
df_actividad['Otros sectores'] = df_actividad[columnas_sumar].sum(axis=1)

#Eliminar las columnas que fueron sumadas en la nueva columna 'Otros sectores'
df_actividad.drop(columns=columnas_sumar, inplace=True)

#Mostrar cambios en el df
print(df_actividad.head(),
      df_actividad.tail())

    indice_tiempo  produccion_gas_natural     total  residencial  \
276    2019-01-01             4000.194452  3267.863      306.257
277    2019-02-01             3770.580137  3147.144      277.859
278    2019-03-01             4014.104313  3284.154      405.178
279    2019-04-01             3948.832523  3279.103      498.612
280    2019-05-01             4245.779178  3879.933      958.250

     Otros sectores
276        2803.244
277        2730.473
278        2612.954
279        2472.052
280        2662.565       indice_tiempo  produccion_gas_natural     total  residencial  \
331    2023-08-01             4477.024219  4469.913     1445.818
332    2023-09-01             4296.923314  4014.886     1191.804
333    2023-10-01             3905.392633  3456.851      735.477
334    2023-11-01             3789.920718  3364.695      551.415
335    2023-12-01             3539.010723  3163.924      383.230

     Otros sectores
331        2791.544
332        2621.116
333        2369.841
334        2519.332
335        2533.824

/tmp/ipython-input-2071361210.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actividad['Otros sectores'] = df_actividad[columnas_sumar].sum(axis=1)
/tmp/ipython-input-2071361210.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actividad.drop(columns=columnas_sumar, inplace=True)

In [22]:
#Verificar presencia de nulos y duplicados
print(df_actividad.isnull().sum(),
      df_actividad.duplicated().sum())

indice_tiempo             0
produccion_gas_natural    0
total                     0
residencial               0
Otros sectores            0
dtype: int64 0

#3. Merge del csv final
Se unirÃ¡ el csv con los datos de las provincias (temperatura, estaciÃ³n y gdc) con el de actividades del gas para dar lugar al csv final que serÃ¡ utilizado para anÃ¡lisis y modelado

In [23]:
#La clave de uniÃ³n serÃ¡ la columna 'indice_tiempo'
df_final_merge = pd.merge(df_merged_long, df_actividad, on='indice_tiempo', how='left')

#Mostrar el nuevo df
df_final_merge.head()

,indice_tiempo,provincia,temp_promedio,estacion,gdc,produccion_gas_natural,total,residencial,Otros sectores
0,2019-01-01,bsas,18.450000,Verano,0.00,4000.194452,3267.863,306.257,2803.244
1,2019-02-01,bsas,19.000000,Verano,0.00,3770.580137,3147.144,277.859,2730.473
2,2019-03-01,bsas,16.791667,OtoÃ±o,36.25,4014.104313,3284.154,405.178,2612.954
3,2019-04-01,bsas,17.200000,OtoÃ±o,24.00,3948.832523,3279.103,498.612,2472.052
4,2019-05-01,bsas,17.333333,OtoÃ±o,20.00,4245.779178,3879.933,958.250,2662.565

In [24]:
#Verificar nulos y duplicados
print(df_final_merge.isnull().sum(),
      df_final_merge.duplicated().sum())

indice_tiempo             0
provincia                 0
temp_promedio             0
estacion                  0
gdc                       0
produccion_gas_natural    0
total                     0
residencial               0
Otros sectores            0
dtype: int64 0

In [25]:
#Guardar csv
df_final_merge.to_csv('df_final_merge.csv', index=False)

files.download('df_final_merge.csv')